APP_PORT=8080
APP_ENV=development
JWT_SECRET=super-secret-change-me
ACCESS_TOKEN_TTL_MIN=15
REFRESH_TOKEN_TTL_DAYS=7
DB_PATH=./ecommerce.db

# Frontend/Cookies
FRONTEND_ORIGIN=http://localhost:3000
COOKIE_SECURE=false

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Email (optional)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=no-reply@ecommerce.local

# RajaOngkir (optional)
RAJAONGKIR_API_KEY=
RAJAONGKIR_BASE_URL=https://api.rajaongkir.com/starter
